@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 300px 3fr 1fr;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-top: 0; 
  margin-bottom: 0; 
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 0; 
  margin-bottom: 0; 
}

h3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3em;
  font-weight: 400;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0; 
  margin-bottom: 0; 
}

td, tr {
  padding: 15px;
  border: 2px solid #000;
}

table {
  font-family: 'DM Sans', sans-serif;
  color: #000;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  table-layout: fixed;
}

mark {
  background-color: #fadadd;
}

a {
  color: #000; 
}

nav a {
  text-decoration: none;
  color: #000
}

.link {
  font-size: 1.2em;
}

.title {
  margin-top: 50%; 
  margin-bottom: 50%; 
}

.box-element-left, .box-element-right {
  border-width: 2px;
  margin-bottom: 4vh; 
  padding: 5vh;
}

.box-element-left {
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: solid;
}

.box-element-right {
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
}

.left-box {
  float: left; 
  width: 85%; 
}

.right-box {
  float: right; 
  width: 15%; 
}

.box-link {
  font-size: 1.2em;
  text-decoration: none;
}

.home {
  width: 1000px;
}

.column-left {
  float: left; 
  width: 40%; 
}

.column-right {
  float: right; 
  width: 60%; 
}

.square {
  max-width: 70%;
}

#showContact, #showInfo, #showCare {
  width: 100%;
  margin-top: 20px;
  display: none; 
}

#revealContact, #revealInfo, #revealCare {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  padding: 0; 
  border: none; 
  outline: none; 
  background-color: Transparent;
}

@media screen and (min-width: 2000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 400px 3fr 1fr;
  }

  h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 6em;
    margin-top: 0; 
    margin-bottom: 0; 
  }
  
  h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 0; 
    margin-bottom: 0; 
  }
  
  h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
  }
  
  p {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 0; 
    margin-bottom: 0; 
  }

  #showContact, #showInfo, #showCare {
    width: 100%;
    margin-top: 20px;
    display: none; 
  }
  
  #revealContact, #revealInfo, #revealCare {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    cursor: pointer;
    margin: 0;
    padding: 0; 
    border: none; 
    outline: none; 
    background-color: Transparent;
  }

  .link {
    font-size: 2.5em;
  }
}