@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  margin: 0;
  max-width: 100%;
}

.grid {
    padding: 30px;
}

* {
  box-sizing: border-box;
}

td, tr {
    padding: 15px;
    border: 2px solid #000;
  }
  
  table {
    font-family: 'DM Sans', sans-serif;
    color: #000;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    table-layout: fixed;
  }
  

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 0; 
    margin-bottom: 0; 
  }
  
  h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin-top: 0; 
    margin-bottom: 2vh; 
  }
  
  h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
  }
  
  h4 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3em;
    font-weight: 400;
  }
  
  p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0; 
    margin-bottom: 0; 
  }

mark {
    background-color: #fadadd;
  }
  
  a {
    color: #000; 
  }
  
nav a {
text-decoration: none;
color: #000
}

.link {
font-size: 1.2em;
}

.title {
    margin-top: 30%; 
    margin-bottom: 30%; 
  }
  

.box-element {
    border-style: solid;
    border-color: #000;
    border-width: 1.5px;
    margin-bottom: 2vh; 
    padding: 2vh;
}
  
.box-link {
font-size: 1.2em;
text-decoration: none;
}

.square {
width: 300px;
}

#showContact, #showInfo, #showCare {
width: 100%;
margin-top: 20px;
display: none; 
}

#revealContact, #revealInfo, #revealCare {
font-family: 'DM Sans', sans-serif;
font-weight: 700;
font-size: 1.2em;
cursor: pointer;
margin: 0;
padding: 0; 
border: none; 
outline: none; 
background-color: Transparent;
}